@model Booking.Models.ViewModels.SearchModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="starter-template">
    <h1>Booking about</h1>
    <p class="lead">
        "Еhis site will help you find a room in the selected city and at the selected time"
    </p>
</div>